:root {
    --mono-font: 'Fira Code', consolas, monospace;
    --sans-font: 'Fira Sans', sans-serif;

    --accent: #89023e;
    --accent-d1: #4d0425;
    --accent-d2: #240212;
    --accent-d3: #0c0006;

    --scroll-1: #323238;
    --scroll-2: #121215;
    --scroll-track: #58585871;
    --scroll-thumb: #868686;

    --gradient-from: var(--accent);
    --gradient-to: var(--accent-d1);

    --text: white;
    --dim-text: #aaafbd;
    --border: var(--accent);
    --anchor-text: #479fff;

    --tag-required: #d83f39;
    --tag-default: #047d37;

    --badge-controller: #7211b3;
    --badge-decorator: #4d9936;
    --badge-function: #2a9ae4;
    --badge-type: #c41e1e;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color-1) var(--scroll-color-1);
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

*::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
}

a {
    text-decoration: none;
    color: var(--anchor-text);
}

#app {
    color: var(--text);
    height: 100%;
    font-family: var(--mono-font);
    user-select: none;
}

.over-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
    cursor: pointer;

    > .try-again {
        font-size: .8rem;
    }
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--accent-d3);

    .nav {
        display: flex;
        flex-direction: row;
        background-color: var(--accent-d2);
        border-bottom: 1px dashed var(--border);

        .logo {
            padding: 10px 15px;
            font-weight: bold;
        }

        .tab {
            padding: 10px 15px;
            opacity: .35;
            transition: .3s opacity;
            background-color: transparent;
            cursor: pointer;

            &:hover, &[data-is-active="true"] {
                opacity: 1;
            }

            &[data-is-active="true"] {
                background-color: var(--accent-d3);
            }
        }
    }

    .app-body {
        flex: 1;
    }
}