* {
    scrollbar-width: thin;
    scrollbar-color: #323238 #121215;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: #58585871;
}

*::-webkit-scrollbar-thumb {
    background: #868686;
}

:root {
    --accent: #89023e;
    --accent-d1: #4d0425;
    --accent-d2: #240212;
    --accent-d3: #0c0006;
}

main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(0deg, var(--accent) 0%, var(--accent-d1) 100%);
}

.content svg a {
    opacity: .6;
    transition: .3s opacity;
}

.content svg a:hover {
    opacity: 1;
}

.content svg {
    width: 750px;
    max-width: 85vw;
    font-family: 'Fira Code', consolas, monospace;
    stroke-width: 1px;
    font-size: 1.1rem;
    color: white;
}

main:before {
    content: '';
    background-image: url(./logo-wolf.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 130vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
}
main:after {
    content: 'BYAKKO';
    position: absolute;
    left: -20rem;
    right: 0;
    bottom: -20rem;
    opacity: .3;
    color: rgba(0, 0, 0, .15);
    font-family: 'Fira Sans', sans-serif;
    font-size: 50rem;
    text-align: center;
    animation: 3s blink-wave infinite ease-in alternate;
}

@keyframes blink-wave {
    0% {
        opacity: .1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: .1;
    }
}

#wave {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
    animation: 2s blink-wave infinite ease-in alternate;
}

main img {
    position: absolute;
    z-index: 50;
}

aside .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 200;
    border-bottom: 1px dashed var(--accent);
}

aside .logo img {
    width: 150px;
}

aside .list {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: #479fff;
}

.content {
    padding: 0 50px 25px;
}

.content img {
    margin: 0 auto;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-left: 0;
    padding-left: 350px;
    scroll-behavior: smooth;
    background-color: var(--accent-d3);
    color: white;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 350px;
    background-color: var(--accent-d2);
    color: #aaafbd;
    z-index: 500;
    display: flex;
    flex-direction: column;
    border-right: 1px solid transparent;
}

aside .list {
    padding-top: 10px;
}

aside a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    transition: .3s background-color;
    color: #747577;
    background-color: transparent;
    font-family: 'Fira Code', monospace;
}

aside a > span {
    color: rgba(255, 255, 255, .35);
    transition: .3s color;
}

aside a:hover {
    background-color: var(--accent-d3);
    cursor: pointer;
}

aside a:hover > span {
    color: white;
}

aside .header {
    font-size: .8rem;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--accent);
}

aside .header:after,
aside .header:before {
    content: '';
    height: 1px;
    border-bottom: 1px dashed currentColor;
    width: 20px;
    margin: 0 10px;
}

aside .header:after {
    flex: 1;
}

h1 {
    padding-top: 20px;
    position: relative;
}

h1 a {
    display: block;
    position: absolute;
    left: -50px;
    width: 50px;
    text-align: center;
    color: #d2d2d2;
    font-weight: normal;
}

code {
    font-family: 'Fira Code', monospace !important;
}

.content .list {
    padding-left: 50px;
    margin-bottom: 1em;
}

.content .list-item {
    margin-top: 25px;
    position: relative;
}

.content .list-desc {
    border-top: 1px dashed #5d4365;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, .3);
}

.content > p {
    color: white;
}

.list-desc p {
    display: block;
    padding: 15px 25px;
    margin: 0;
}

.content .list-item > code {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 3px 5px;
}

.content .list-tag {
    position: absolute;
    top: 0;
    right: 0;
}

tag {
    display: inline-block;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: .8rem;
}

tag[type="required"] {
    background-color: #d83f39;
    color: white;
    box-shadow: 0 0 5px 0 #d83f39;
}

tag[type="required"]:before {
    content: 'Required';
}

tag[type="default"] {
    background-color: #047d37;
    color: white;
    box-shadow: 0 0 5px 0 #047d37;
}

tag[type="default"]:before {
    content: 'Default: ';
}

tag[type="default"] code {
    padding-left: 5px;
    font-style: italic;
}

badge {
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 20px;
    color: white;
}

badge[type="c"] {
    background-color: #ff9f1c;
    box-shadow: 0 0 5px 0 #ff9f1c;
}

badge[type="c"]:before {
    content: 'C';
}

badge[type="d"] {
    background-color: #ee4266;
    box-shadow: 0 0 5px 0 #ee4266;
}

badge[type="d"]:before {
    content: 'D';
}

badge[type="f"] {
    background-color: #3bb273;
    box-shadow: 0 0 5px 0 #3bb273;
}

badge[type="f"]:before {
    content: 'F';
}

badge[type="t"] {
    background-color: #0466c8;
    box-shadow: 0 0 5px 0 #0466c8;
}

badge[type="t"]:before {
    content: 'T';
}
