:root {
    --mono-font: 'Fira Code', consolas, monospace;
    --sans-font: 'Fira Sans', sans-serif;

    --accent: #89023e;
    --accent-d1: #4d0425;
    --accent-d2: #240212;
    --accent-d3: #0c0006;

    --scroll-1: #323238;
    --scroll-2: #121215;
    --scroll-track: #58585871;
    --scroll-thumb: #868686;

    --gradient-from: var(--accent);
    --gradient-to: var(--accent-d1);

    --text: white;
    --dim-text: #aaafbd;
    --border: var(--accent);
    --anchor-text: #479fff;

    --tag-required: #d83f39;
    --tag-default: #047d37;

    --badge-controller: #7211b3;
    --badge-decorator: #4d9936;
    --badge-function: #2a9ae4;
    --badge-type: #c41e1e;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color-1) var(--scroll-color-1);
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-track);
}

*::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
}

a {
    text-decoration: none;
    color: var(--anchor-text);
}

main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(0deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
}

.content svg a {
    opacity: .6;
    transition: .3s opacity;
}

.content svg a:hover {
    opacity: 1;
}

.content svg {
    width: 750px;
    max-width: 85vw;
    font-family: var(--mono-font);
    stroke-width: 1px;
    font-size: 1.1rem;
    color: var(--text);
}

main:before {
    content: '';
    background-image: url(./logo-wolf.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 130vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
}
main:after {
    content: 'BYAKKO';
    position: absolute;
    left: -20rem;
    right: 0;
    bottom: -20rem;
    opacity: .3;
    color: rgba(0, 0, 0, .15);
    font-family: var(--sans-font);
    font-size: 50rem;
    text-align: center;
    animation: 3s blink-wave infinite ease-in alternate;
}

@keyframes blink-wave {
    0% {
        opacity: .1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: .1;
    }
}

#wave {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
    animation: 2s blink-wave infinite ease-in alternate;
}

main img {
    position: absolute;
    z-index: 50;
}

aside .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 200;
    border-bottom: 1px dashed var(--border);
}

aside .logo img {
    width: 150px;
}

aside .list {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content {
    padding: 0 50px 25px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.05rem;
    line-height: 2rem;
}

.content img {
    margin: 0 auto;
}

body {
    font-family: var(--sans-font);
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-left: 0;
    padding-left: 350px;
    scroll-behavior: smooth;
    background-color: var(--accent-d3);
    color: var(--text);
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 350px;
    background-color: var(--accent-d2);
    color: var(--dim-text);
    z-index: 500;
    display: flex;
    flex-direction: column;
    border-right: 1px solid transparent;
}

aside .list {
    padding-top: 10px;
}

aside a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    transition: .3s background-color;
    color: var(--text);
    background-color: transparent;
    font-family: var(--mono-font);
}

aside a > span {
    opacity: .35;
    transition: .3s opacity;
}

aside a:hover {
    background-color: var(--accent-d3);
    cursor: pointer;
}

aside a:hover > span {
    opacity: 1;
}

aside .header {
    font-size: .8rem;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--accent);
}

aside .header:after,
aside .header:before {
    content: '';
    height: 1px;
    border-bottom: 1px dashed currentColor;
    width: 20px;
    margin: 0 10px;
}

aside .header:after {
    flex: 1;
}

h1 {
    padding-top: 20px;
    position: relative;
}

h1 a {
    display: block;
    position: absolute;
    left: -50px;
    width: 50px;
    text-align: center;
    font-weight: normal;
}

code {
    font-family: var(--mono-font) !important;
}

.content .list {
    padding-left: 50px;
    margin-bottom: 1em;
}

.content .list-item {
    margin-top: 25px;
    position: relative;
}

.content .list-desc {
    border-top: 1px dashed var(--border);
    margin-top: 15px;
    background-color: rgba(0, 0, 0, .3);
}

.content > p {
    color: var(--text);
}

.list-desc p {
    display: block;
    padding: 15px 25px;
    margin: 0;
}

.content .list-item > code {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 3px 5px;
}

.content .list-tag {
    position: absolute;
    top: 0;
    right: 0;
}

tag {
    display: inline-block;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: .8rem;
}

tag[type="required"] {
    background-color: var(--tag-required);
    color: white;
    box-shadow: 0 0 5px 0 var(--tag-required);
}

tag[type="required"]:before {
    content: 'Required';
}

tag[type="default"] {
    background-color: var(--tag-default);
    color: white;
    box-shadow: 0 0 5px 0 var(--tag-default);
}

tag[type="default"]:before {
    content: 'Default: ';
}

tag[type="default"] code {
    padding-left: 5px;
    font-style: italic;
}

badge {
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    width: 20px;
    color: white;
}

badge[type="c"] {
    background-color: var(--badge-controller);
    box-shadow: 0 0 5px 0 var(--badge-controller);
}

badge[type="c"]:before {
    content: 'C';
}

badge[type="d"] {
    background-color: var(--badge-decorator);
    box-shadow: 0 0 5px 0 var(--badge-decorator);
}

badge[type="d"]:before {
    content: 'D';
}

badge[type="f"] {
    background-color: var(--badge-function);
    box-shadow: 0 0 5px 0 var(--badge-function);
}

badge[type="f"]:before {
    content: 'F';
}

badge[type="t"] {
    background-color: var(--badge-type);
    box-shadow: 0 0 5px 0 var(--badge-type);
}

badge[type="t"]:before {
    content: 'T';
}
